/* Styles for main page and some reusable components */
*{
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url("../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.wrapper {
  width: 100%;
  position: relative;
  min-height: 100%;
}
.header {
  width: 100%;
  background: url("../img/header-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  max-height: 500px;
  cursor: pointer;
}
.title-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.title {
  display: block;
  font-weight: 200;
  font-size: 2.5vw;
  color: #fff;
  line-height: 2vw;
  padding: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  text-align: center;
}
.title-image {
  transform: scale(0.7);
  display: block;
  max-width: 1000px;
  width: 50%;
}
.main {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.text {
  font-size: 2vw;
  margin: 2vw 0;
}
.topics {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 100;
}
.html,
.css,
.js,
.php {
  max-width: 20%;
}
.html-img,
.css-img,
.php-img,
.js-img {
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: 20px 8px 26px -21px rgba(66, 68, 90, 1);
  border-radius: 50%;
}
.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: lightgray;
  color: #fff;
}
/* HTML subpage */
.html-subpage{
  flex-direction: row;
  justify-content: space-between;
  max-width: 1250px;
  margin-top: 50px;
}
#side-nav{
  flex-basis: 20%;
  align-self: flex-start;
}
.content{
  flex-basis: 75%;
  max-width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card{
  margin-bottom: 20px;
  border-left: 10px solid #e34c26;
}
pre {
  width: 100%;
  background-color: #eee;
  border: 1px solid #999;
  display: flex;
  justify-content: center;
  padding: 10px;
  overflow: auto;
}
code {
  display: inline-block;
}
.result{
  width: 100%;
  background-color: #eee;
  border: 1px solid #999;
  padding: 10px;
  text-align: center;
}
.remove{
  all: revert;
}
.back-to-top{
  text-decoration: none;
  color: #000;
  text-align: center;
  border: 5px solid #e34c26;
}
.back-to-top:hover{
  background-color: #e34c26;
  color: #fff;
}
.list-group-item.active{
  background-color: #e34c26;
  border-color: #e34c26;
}
@media (max-width: 768px){
  .topics{
    flex-direction: column;
  }
  .html,
  .css,
  .js,
  .php {
    max-width: 30%;
    margin: 10px 0;
  }
  .title-image{
    display: none;
  }
  .title{
    line-height: 20px;
    font-size: 4vw;
  }
  .header{
    padding: 20px;
  }
  .text{
    font-size: 4vw;
  }
}
